<div class="container">
  <h1>Top Stocks</h1>
  <hr />
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Stocks</th>
        <th scope="col">Alias</th>
        <th scope="col">Current Price</th>
        <th scope="col">52 Weeks High</th>
        <th scope="col">52 Weeks Low</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of stockMap | keyvalue">
        <td>{{entry.value.name}}</td>
        <td>{{entry.value.alias}}</td>
        <td [ngClass]="{'text-success': entry.value.currentMarketPrice > entry.value.lastDayMarketPrice, 'text-danger': entry.value.currentMarketPrice < entry.value.lastDayMarketPrice}">
          {{entry.value.currentMarketPrice | number:'1.2-2'}}
        </td>
        <td>{{entry.value.high52Week | number:'1.2-2'}}</td>
        <td>{{entry.value.low52Week | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>